.appHeader {
    display: flex;
    justify-content: space-between;
    padding-top: 0.8rem;
    align-items: center;
}

.appHeaderRightSection {
    display: flex;
    justify-content: space-between;
}
.appHeaderRightSection > div{
    padding: 0 0.8rem;
}